<h1><%= @foodItemShow.name %></h1>
<p>It comes from <%= @foodItemShow.name %> and is priced at HKD<%= @foodItemShow.name %></p>
<p>Harry gives it a <%= @foodItemShow.harrys_choice ? "THUMBS UP" : "THUMBS DOWN" %></p>
<%= image_tag @foodItemShow.photo_path %>
